{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--meta http-equiv="refresh" content="0;URL=./blog/home" /-->
<title>糖蒜广播</title>
<meta name="keywords" content="糖蒜广播，糖蒜，电台，广播电台，podcast，音乐，stanley，demone，retrodance，亲手动力，糖蒜文化，武悦，FM，AM，广播，针刺，针刺疗法，针灸，针刺电音，电子音乐，摇滚，电子，流行，metal，intro，焱，indie pop，house，techno">
<meta name="description" content="糖蒜广播是通过互联网平台传播各类音乐的广播节目，由demone和stanley在2004年创建，中国最有个性的网络广播电台。">
</head>

<body>
<div style="text-align:center;"><img src="{% static 'tangsuan-01.png' %}" alt="barcode" /></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12747429-2");
pageTracker._trackPageview();
} catch(err) {}</script></body>
</html>
