<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
>

<channel>
	<title>{{ feed.title }}</title>
	<atom:link href="http://fmit.liheran.com/index.rss" rel="self" type="application/rss+xml" />
	<link>http://weibo.com/fmitbroadcast</link>
	<description>{{ feed.description }}</description>
	<lastBuildDate>Sun, 2 Sep 2012 15:42:00 GMT +8</lastBuildDate>

	<language>zh-cn</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>self</generator>
	<itunes:summary>{{ feed.its_summary }}</itunes:summary>
	<itunes:author>{{ feed.its_author }}</itunes:author>

	<itunes:explicit>clean</itunes:explicit>
	<itunes:image href="http://fmit.liheran.com/album.png" />
	<itunes:owner>
		<itunes:name>挂风</itunes:name>
		<itunes:email>gaolei@liheran.com</itunes:email>
	</itunes:owner>
	<managingEditor></managingEditor>

	<copyright>&#x2117; &amp; &#xA9; 2011 FMiT &amp; liheran.com</copyright>
	<itunes:subtitle>{{ feed.its_subtitle }}</itunes:subtitle>
	<itunes:keywords>IT, Apple, iPhone</itunes:keywords>
	<itunes:category text="Technology">
		<itunes:category text="Tech News" />
	</itunes:category>
	
{% for podcast in podcasts %}
	<item>
		<title>{{ podcast.title }}</title>
		<pubDate>Sun, 23 Jun 2013 11:10:00 GMT +8</pubDate>
		<itunes:duration>1:20:37</itunes:duration>
		<guid isPermaLink="false">{{ podcast.pk }}</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>http://fmit.liheran.com</wfw:commentRss>
		<slash:comments>0</slash:comments>
		<itunes:image href="http://fmit.liheran.com/FMiT.VOL72.png" />
<enclosure url="{{ podcast.enclosure_url }}" length="{{ podcast.enclosure_len }}" type="audio/x-m4a" />
		<itunes:subtitle>{{ podcast.subtitle }}</itunes:subtitle>
		<itunes:summary>{{ podcast.summary }}</itunes:summary>
		<itunes:author>{{ podcast.author }}</itunes:author>
		<itunes:explicit>clean</itunes:explicit>
	</item>
{% endfor %}
	
	</channel>
</rss>
