{% load dateformatr %}<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
>

<channel>
	<title>{{ feed.title }}</title>
	<atom:link href="{{ feed.feed_url }}" rel="self" type="application/rss+xml" />
	<link>{{ feed.feed_url }}</link>
	<description>{{ feed.description }}</description>
	<lastBuildDate>{{ now|dateformatr }}+0800</lastBuildDate>

	<language>zh-cn</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>dj-podcaster</generator>
	<itunes:summary>{{ feed.its_summary }}</itunes:summary>
	<itunes:author>{{ feed.its_author }}</itunes:author>

	<itunes:explicit>clean</itunes:explicit>
	<itunes:image href="{{ feed.its_image.url }}" />
	<itunes:owner>
		<itunes:name>{{ feed.its_owner_name }}</itunes:name>
		<itunes:email>{{ feed.its_owner_email }}</itunes:email>
	</itunes:owner>
	<managingEditor>{{ feed.its_owner_email }} ({{ feed.its_owner_name }})</managingEditor>

	<copyright>{{ feed.copyright }}</copyright>
	<itunes:subtitle>{{ feed.its_subtitle }}</itunes:subtitle>
	<itunes:keywords>{{ feed.its_keywords }}</itunes:keywords>
	<!--itunes:category text="{{ feed.its_category }}">
		{% if feed.its_subcategory %}<itunes:category text="{{ feed.its_subcategory }}" />{% endif %}
	</itunes:category-->
	{{ feed.its_categories|safe|escape }}
	
{% for podcast in podcasts %}
	<item>
		<title>{{ podcast.title }}</title>
		<pubDate>{{ podcast.pubdate|dateformatr }}</pubDate>
		<itunes:duration>{{ podcast.duration }}</itunes:duration>
		<guid isPermaLink="false">{{ podcast.enclosure_url }}</guid>
		<description><![CDATA[{{ podcast.description }}]]></description>
		<wfw:commentRss>{{ feed.feed_url }}</wfw:commentRss>
		<slash:comments>0</slash:comments>
		{% if podcast.its_image %}<itunes:image href="{{ podcast.its_image.url }}" />{% endif %}
<enclosure url="{{ podcast.enclosure_url }}" length="{{ podcast.enclosure_len }}" type="{{ podcast.enclosure_type_str }}" />
		<itunes:subtitle>{{ podcast.its_subtitle|truncatechars:255 }}</itunes:subtitle>
		<itunes:summary>{{ podcast.its_summary }}</itunes:summary>
		<itunes:author>{{ podcast.its_author }}</itunes:author>
		<itunes:explicit>{{ podcast.its_explicit_str }}</itunes:explicit>
	</item>
{% endfor %}
	
</channel>
</rss>
